/* variables */
:root{
    --primary-background-color: rgba(179, 176, 176, 0.63);
    --secondary-background-color: rgb(21, 21, 21);
}

/* global */
* {
    padding: 0;
    margin: 0;
    font-size: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


body{
    font-family: sans-serif;
    font-weight: 400;
    font-size: 1.125rem;
    background-color: var(--primary-background-color);
}


/* header */

#banner{
    background-image: url('images/flatrate banner.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom-left-radius: 300px 300px;
    min-height: 96vh;
    margin-bottom: 50px;
}

#nav-wrapper{
    margin-left: 3px;
    margin-right: 3px;
    padding-top: 3px;
    
}

#navbar{
    background-color: rgba(178, 0, 172, 0.445);
    display: flex;
    flex-direction:row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    height: 69px;
    padding: 15px;
    border-radius: 15px;
    margin-left: 10px;
    margin-right: 10px;
}

#navbar a{
    color: white;
    font-size: 30px;
    padding-right: 5px;
    margin: 18px;
}

#store, #reviews{
    min-height: 95vh;
    margin-bottom: 50px;
}

#about{
    min-height: 80vh;
}

#logo{
    margin-top: 4px;
    margin-left: 20px;
    max-width: 230px;
    overflow: hidden;
}

#reviews{
    background-color: var(--secondary-background-color);
    border-top-right-radius: 300px 300px;
    border-bottom-right-radius: 300px 300px;
}

#reviews form{
    color: white;
}

#reviews h1{
    font-size: 60px;
    font-weight: 200;
    font-family: monospace;
    color: white;
    margin-left: 100px;
}

#reviews h2{
    font-weight: 200;
    font-size: 40px;
    font-family: monospace;
    color: white;
    padding-bottom: 20px;
    text-align: center;
}

#reviews h3{
    font-size: 40px;
    padding-bottom: 5px;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(167, 11, 11);
    text-align: center;
}

#reviews h4{
    font-size: large;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: 13px;
}

#formContainer{
    display: flex;
    flex-direction: column;
    align-items: center
}

#formContainer header{
    font-size: 45px;
    font-weight: 200;
    font-family: monospace;
    color: white;
    margin-bottom: 50px;
    margin-top: 50px;
}

#reviewForm{
    display: flex;
    flex-direction: column;
    font-size: larger;
}

#reviewPanel{
    display: flex;
    flex-direction: row;
    min-width: fit-content;
    flex-wrap: wrap;
    align-items: stretch;
}

.reviewCard{
    display: flex;
    background-color: white;
    flex-direction: column;
    max-width: 300px;
    max-height: fit-content;
    padding: 35px;
    margin: 35px;
    border-radius: 69px;
}


a {
    text-decoration: none;
    color: rgba(57, 3, 73, 0.699); 
    font-size: 1.38rem;
    padding-left: 1rem;
}

/* content */
#card-container{
   display: grid;
   grid-template-columns: auto auto auto auto;
   grid-template-rows: auto auto;
   align-items: center;
   justify-items: center;
   justify-content: space-around;
}

#main-content h1{
    font-size: 50px;
    font-weight: 200;
    font-family: monospace;
    padding: 25px;
    margin-left: 35px;
    text-align: center;
}

.card{
    display: inline-grid;
    background-color: whitesmoke;
    border-radius: 15px;
    border: solid black 8px;
    margin: 55px;
    padding: 25px;
    max-width: fit-content;
    max-height: fit-content;
    text-align: center;
}

.card h2{
    font-style: italic;
    padding-bottom: 5px;
}

.card img{
    justify-self: center;
    min-width: 200px;
    min-height: 100px;
    border-radius: 20px;
    padding: 10px;
}

.button-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.button-cart, .button-info{
    font-size: 15px;
    font-style: oblique;
}

#footer{
    min-height: 15vh;
    background-color: var(--secondary-background-color);
    border-top-left-radius: 400px 400px;
}
/* ABOUT US CSS */
div ul { list-style-type: none; }

.pictures {
    width: 200px; 
    height: auto;
    display: block;
}

li {float: left;  margin-left: 85px; margin-right: 85px; }
.names {text-align: center;}

p{float: right;}

a:visited { text-decoration: none; color:rgb(0, 0, 0); }
a:hover { text-decoration: none; color:blue; }
a:focus { text-decoration: none; color:rgb(195, 0, 255); }
a:hover, a:active { text-decoration: none; color:rgb(189, 177, 177) }

#focus {width: 150px;}
#resetBtn {float: left;}

.image {
    position: relative;
    width: 300px;
}

.image__img {
    display: block;
    width: 100%;
}

.image__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
}

.image__overlay--blur {
    backdrop-filter: blur(5px);
}

.image__overlay--primary {
    background: #009578;
}

.image__overlay > * {
    transform: translateY(20px);
    transition: transform 0.25s;
}

.image__overlay:hover {
    opacity: 1;
}

.image__overlay:hover > * {
    transform: translateY(0);
}

.image__title {
    font-size: 2em;
    font-weight: bold;
}

.image__description {
    font-size: 1.25em;
    margin-top: 0.25em;
    text-align: center;
}


/* .github{position: relative;} */
.linkedin{
    float: right;
    padding-right: 0.5rem;
    padding-top: .5rem;
    font-family: monospace;
    font-weight: bold;
   
}
a.github{
    float: left;
    padding-left: 3%;
    padding-top: .5rem;
    font-family: monospace;
    font-weight: bold;
}


/* ABOUT US CSS */


