


div ul { list-style-type: none; }

.pictures {width: 150px; height: auto;}

/* #eg-picture {width: 150px; height: auto;}
#ahmed-picture {width: 150px; height: auto;}
#nathaly-picture {width: 150px; height: auto;} */

li {float: left;  margin-left: 50px; }
.names {text-align:auto;}

p{float: right;}

a:visited { text-decoration: none; color:rgb(0, 0, 0); }
a:hover { text-decoration: none; color:blue; }
a:focus { text-decoration: none; color:rgb(195, 0, 255); }
a:hover, a:active { text-decoration: none; color:rgb(189, 177, 177) }

#focus {width: 150px;}


#aboutUsDiv{background-image: url("https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/lr/p-448-pai-654.jpg?w=1000&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&auto=format&ixlib=js-2.2.1&s=93b7cc4cc38e3ff3801bf1ac0c99b979");} */
/* #about-us{background-image: url("https://cdn.pixabay.com/photo/2020/01/26/11/46/paper-flower-background-4794429_960_720.jpg");} */


li{background-color: rgb(91, 132, 187);}